.profile-button {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  padding: 10px 20px;

  border: 1px solid #ddd;
  border-radius: 5px;
  width: 150px;
  gap: 10px;

  color: #3d3d3d;
  cursor: pointer;
}

.profile-button .name-container {
  padding-left: 10px;
}

.right-arrow {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
