.profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  gap: 3vh;
}

.profile-page-container .content-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
