header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  left: 80px;
  position: fixed;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left-section {
  display: flex;
  align-items: center;
}

.home {
  font-size: 16px;
  color: #3d3d3d;
  font-family: mont;
  cursor: pointer;
}

.right-section {
  font-size: 18px;
  margin-right: 100px;
}
