.cart-item-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.cart-item-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 300px;
  height: 25px;
  display: flex;
  flex-direction: row;
  gap: 5px;

  justify-content: flex-start;
  align-items: center;
}

.cart-item-name {
  color: #7b7b7b;
  width: 40px;
}

.cart-item-price {
  font-weight: bold;
  font-size: 16px;
}

.cart-item-image {
  justify-content: center;
  display: flex;
  width: 90px;
}

.cart-item-image img {
  width: 60%;
}

.change-quantity-container {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.cart-item-price-container {
  margin-left: 50px;
}
button {
  color: #3dcd94;
  background-color: white;
  border: none;
  font-size: 30px;
  width: 50px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart-item-quantity {
  align-self: center;
  font-size: 20px;
}

.change-quantity-container {
  display: flex;
  flex-direction: row;
  height: 25px;

  justify-content: space-around;
  width: 150px;
}
