.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-page-container img {
  width: 100px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
