#root {
  margin: 0;
  padding: 0;
  flex-direction: column;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 10px;

  min-height: 80vh;
  max-width: 95vw;

  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  place-items: center;

  background-color: white;
}
