.profile-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    margin-left: 30px;
    font-size: 20px;
}

h4 {
    color: #7B7B7B;
}
.data-container p {
    color: black;
}

.data-container {
    display: flex;
    flex-direction:column;
    gap: 5px;
}