.profile-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: left;
  font-size: 20px;
}

h4 {
  color: #7b7b7b;
}
.data-container p {
  color: black;
}

.data-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
